NEXT_PUBLIC_SUPABASE_URL=https://bztayihtyqudwxhrktge.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_aWWGzNG_QvXct_FzmFI5PA_50DqtUZC
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6dGF5aWh0eXF1ZHd4aHJrdGdlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjU5NzA3OSwiZXhwIjoyMDkyMTczMDc5fQ.rNRliQcVgGFLQ-Np1Xsfz_rJLC7VwC_BsLVqzeNbOr8
